cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.0.3
cryptography==2.8
Flask==1.1.1
Flask-Limiter==1.1.0
google-api-core==1.15.0
google-auth==1.10.0
googleapis-common-protos==1.6.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
limits==1.4.1

